/* ---------- Variables --------- */

:root {
    --main-bg-color: #F5F3EF;
    --second-bg-color: #FAF9F7;
    --grey-text-color: #A6A6A6;
    --light-blue-color: #EDF2F6;
    --light-green-color: #00AC66;
    --dark-green-color: #006D41;
}

/* ------------ Global ---------- */

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
    color: black;
    font-family: Playfair Display, serif;
}

h1{
    font-weight: 200;
    font-size: 36px;
}


/* -------- Classe global ------- */

.font-size-16{
    font-size: 16px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-12{
    font-size: 12px;
}

.font-size-10{
    font-size: 10px;
}

.font-size-8{
    font-size: 8px;
}

.grey-text{
    color: var(--grey-text-color);
}

.main-bg-color{
    background-color: var(--main-bg-color);
}

.second-bg-color{
    background-color: var(--second-bg-color);
} 

.light-blue-bg-color{
    background-color: var(--light-blue-color);
}

.cursor-pointer{
    cursor: pointer;
}

.classic-button{
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 500;
}

.green-button{
    background-color: var(--light-green-color);
    color: white;
    border: 1px solid var(--light-green-color);
    transition-duration: 0.5s;
}

.secondary-green-button{
    color: var(--light-green-color);
    border: 1px solid var(--light-green-color);
    transition-duration: 0.5s;
}

.green-button:hover, .secondary-green-button:hover{
    background-color: var(--dark-green-color) !important;
    border: 1px solid var(--dark-green-color) !important;
    color: white !important;
    cursor: pointer;
}

.max-width-1000{
    max-width: 1000px;
}

@media (min-width: 576px) {
    .w-sm-auto{
        width: auto !important;
    }
}

/* ----- Navbar ----- */

#logo-nav{
    height: 40px;
}

/* ----- Home ----- */

.section-text-content{
    width: 320px;
    margin: auto;
}

.home-help-blocs{
    width: 200px;
}

.home-help-blocs p{
    font-size: 14px;
    padding: 40px 10px;
}

#nos-valeurs{
    width: 400px;
    height: auto;
}

#nos-valeurs img{
    display: flex;
    margin-left: auto;
    margin-right: -70px;
}

@media (max-width: 576px) {

    #nos-valeurs{
        width: 100%;
    }

    #nos-valeurs img{
        margin: 0 auto;
    }

    #home-image{
        width: 100%;
        margin: 0 auto;
    }

    .home-help-blocs{
        width: 100%;
    }

    .section-text-content{
        width: 100%;
    }
}

@media (min-width:576px) and (max-width: 992px) {
    .home-help-blocs{
        width: 48%;
    }

    .image-wrapper{
        width: 50%;
    }
}

/* ------- Nos livres -------- */

#searchInput::placeholder {
    color: var(--grey-text-color) !important;
}

#searchInput{
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* ----------- Detail livre ---------- */

.short-line{
    width: 27px;
}

.profile-badge {
    display: inline-flex;
    align-items: center;
    height: 60px;
    padding: 5px;
    padding-right: 15px;
    border: none;
    border-radius: 30px;
    background-color: white;
}

.profile-badge img {
    height: 100%;
    margin-right: 5px;
}


/* ------- Profil ------- */

.table-image-column {
    max-width: 100px;
}

.disponible-badge {
    background-color: #6DC5A1;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
}

.indisponible-badge {
    background-color: #C56D6D;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
}

.profil-book-list{
    padding: 0 50px;
}

.table-books-list-bg > div:nth-child(even) {
    background-color: var(--light-blue-color); /* Une couleur grise très légère */
}

.table-books-list-bg > div:last-child {
    border-bottom-left-radius: var(--bs-border-radius-xl);
    border-bottom-right-radius: var(--bs-border-radius-xl);
}

@media (min-width:768px) and (max-width: 992px) {
    .profil-book-list{
        padding: 0 20px;
    }
}