/* ---------- Variables --------- */

:root {
    --main-bg-color: #F5F3EF;
    --second-bg-color: #FAF9F7;
    --grey-text-color: #A6A6A6;
    --light-green-color: #00AC66;
    --dark-green-color: #006D41;
}

/* ------------ Global ---------- */

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
    color: black;
    font-family: Playfair Display, serif;
}

h1{
    font-weight: 200;
    font-size: 36px;
}

/* -------- Classe global ------- */

.main-bg-color{
    background-color: var(--main-bg-color);
}

.second-bg-color{
    background-color: var(--second-bg-color);
}   

.classic-button{
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 500;
}

.green-button{
    background-color: var(--light-green-color);
    color: white;
    border: 1px solid var(--light-green-color);
    transition-duration: 0.5s;
}

.secondary-green-button{
    background-color: transparent;
    color: var(--light-green-color);
    border: 1px solid var(--light-green-color);
    transition-duration: 0.5s;
}

.green-button:hover, .secondary-green-button:hover{
    background-color: var(--dark-green-color);
    border: 1px solid var(--dark-green-color);
    color: white;
    cursor: pointer;
}

.max-width-1000{
    max-width: 1000px;
}

@media (min-width: 576px) {
    .w-sm-auto{
        width: auto !important;
    }
}

/* ----- Navbar ----- */

#logo-nav{
    height: 40px;
}

/* ----- Home ----- */

.section-text-content{
    width: 320px;
    margin: auto;
}

.italic-text{
    font-style: italic;
    font-size: 12px;
    margin: 10px;
    color: var(--grey-text-color);
}

.home-help-blocs{
    width: 200px;
}

.home-help-blocs p{
    font-size: 14px;
    padding: 40px 10px;
}

#nos-valeurs{
    width: 400px;
    height: auto;
}

#nos-valeurs img{
    display: flex;
    margin-left: auto;
    margin-right: -70px;
}

@media (max-width: 576px) {

    #nos-valeurs{
        width: 100%;
    }

    #nos-valeurs img{
        margin: 0 auto;
    }

    #home-image{
        width: 100%;
        margin: 0 auto;
    }

    .home-help-blocs{
        width: 100%;
    }

    .section-text-content{
        width: 100%;
    }
}

@media (min-width:576px) and (max-width: 992px) {
    .home-help-blocs{
        width: 48%;
    }

    .image-wrapper{
        width: 50%;
    }
}