/* ---------- Variables --------- */

:root {
    --main-bg-color: #F5F3EF;
    --second-bg-color: #FAF9F7;
    --grey-text-color: #A6A6A6;
    --light-green-color: #00AC66;
    --dark-green-color: #006D41;
}

/* ------------ Global ---------- */

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
    color: black;
    font-family: Playfair Display, serif;
}

h1{
    font-weight: 200;
    font-size: 36px;
}

.mt-1{
    margin-top: 0.25rem;
}

.mt-2{
    margin-top: 0.5rem;
}

.mt-3{
    margin-top: 0.75rem;
}

/* -------- Classe global ------- */

.main-bg-color{
    background-color: var(--main-bg-color);
}

.second-bg-color{
    background-color: var(--second-bg-color);
}   

.classic-button{
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 500;
}

.green-button{
    background-color: var(--light-green-color);
    color: white;
    border: 1px solid var(--light-green-color);
    transition-duration: 0.5s;
}

.secondary-green-button{
    background-color: transparent;
    color: var(--light-green-color);
    border: 1px solid var(--light-green-color);
    transition-duration: 0.5s;
}

.green-button:hover, .secondary-green-button:hover{
    background-color: var(--dark-green-color);
    border: 1px solid var(--dark-green-color);
    color: white;
    cursor: pointer;
}

.max-width-1000{
    max-width: 1000px;
}

/* ----- Navbar ----- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-bg-color);
    color: black;
    padding: 1rem 10rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img{
    height: 40px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.burger-menu {
    display: none; /* Caché sur PC */
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.burger-menu span {
    width: 25px;
    height: 3px;
    background: white;
}

/* --- Mobile Style (< 768px) --- */
@media (max-width: 768px) {
    .burger-menu { display: flex; }

    .nav-links {
        display: none; /* On cache le menu par défaut */
        flex-direction: column;
        position: absolute;
        top: 100%; /* Juste en dessous du header */
        left: 0;
        width: 100%;
        background: #444;
        padding: 1rem;
        text-align: center;
    }

    /* La classe qui sera ajoutée en JS */
    .nav-links.active {
        display: flex;
        animation: slideDown 0.3s ease-out;
    }
}

@keyframes slideDown {
    from { transform: translateY(-10px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* ----- Home ----- */


#home-image{
    width: 400px;
    height: auto;
}

.section-text-content{
    width: 320px;
    margin: auto;
}

.italic-text{
    font-style: italic;
    font-size: 12px;
    margin: 10px;
    color: var(--grey-text-color);
}

.home-help-blocs{
    width: 200px;
}

.home-help-blocs p{
    font-size: 14px;
    padding: 40px 10px;
}

#nos-valeurs{
    width: 400px;
    height: auto;
}

#nos-valeurs img{
    position: relative;
    bottom: 0px;
    right: -350px;
}

@media (max-width: 576px) {
    #nos-valeurs img{
        margin-top: 40px;
        position: relative;
        bottom: 0px;
        right: -150px;
    }

    .home-help-blocs{
        width: 100%;
    }
}

@media (min-width:576px) and (max-width: 992px) {
    .home-help-blocs{
        width: 48%;
    }
}