/* ---------- Variables --------- */

:root {
    --main-bg-color: #F5F3EF;
    --second-bg-color: #FAF9F7;
    --grey-text-color: #A6A6A6;
    --light-blue-color: #EDF2F6;
    --light-green-color: #00AC66;
    --mid-green-color: #6DC5A1;
    --dark-green-color: #006D41;
    --light-red-color: #C56D6D;
}

/* ------------ Global ---------- */

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
    color: black;
    font-family: Playfair Display, serif;
}

h1{
    font-weight: 200;
    font-size: 36px;
}

h2{
    font-size: clamp(30px, 0.563vw + 27.89px, 36px);
}
/* -------- Classe global ------- */

.font-size-16{
    font-size: 16px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-12{
    font-size: 12px;
}

.font-size-10{
    font-size: 10px;
}

.font-size-8{
    font-size: 8px;
}

.grey-text{
    color: var(--grey-text-color);
}

.main-bg-color{
    background-color: var(--main-bg-color);
}

.second-bg-color{
    background-color: var(--second-bg-color);
} 

.light-blue-bg-color{
    background-color: var(--light-blue-color);
}

.green-bg-color{
    background-color: var(--mid-green-color);
}

.cursor-pointer{
    cursor: pointer;
}

.classic-button{
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 500;
}

.green-button{
    background-color: var(--light-green-color);
    color: white;
    border: 1px solid var(--light-green-color);
    transition-duration: 0.5s;
}

.secondary-green-button{
    color: var(--light-green-color);
    border: 1px solid var(--light-green-color);
    transition-duration: 0.5s;
}

.green-button:hover, .secondary-green-button:hover{
    background-color: var(--dark-green-color) !important;
    border: 1px solid var(--dark-green-color) !important;
    color: white !important;
    cursor: pointer;
}

.max-width-1140{
    max-width: 1140px;
}

.truncate-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-img-small {
    height: 48px;
    width: 48px;
    margin-right: 8px;
    aspect-ratio: 1 / 1;
}

.profile-img-xs {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    aspect-ratio: 1 / 1;
}

.justify-content-flex-end{
    justify-content: flex-end;
}

.mirror-horizontal{
    display: inline-block;
    transform: scaleX(-1);
}

.disponible-badge {
    background-color: var(--mid-green-color);
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
}

.indisponible-badge {
    background-color: var(--light-red-color);
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
}


.indisp-badge-card{
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 9px;
    padding: 2px 10px; 
}

.min-screen-height{
    min-height: calc(100vh - 140px);
    display: flex;
}

@media (min-width: 576px) {
    .w-sm-auto{
        width: auto !important;
    }
}

@media (max-width: 768px) {
    .min-screen-height{
        min-height: calc(100vh - 247px);
    }
}

/* ----- Navbar ----- */

#logo-nav{
    height: 40px;
}

nav{
   min-height: 80px; 
   padding-top: 15px !important;
   padding-bottom: 15px !important;
}

.messagerie-badge{
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 20px;
    vertical-align: middle;
}

.nav-separator{
    width: 1px;
    padding: 0px;
    height: 20px;
    background-color: var(--grey-text-color);
}

.navbar-nav .nav-item:hover{
    font-weight: 600;
}

/* ------ Footer ------- */

footer{
    min-height: 60px;
}

footer img{
    width: 22px;
    height: 18px;
}

/* ----- Home ----- */

.section-text-content{
    width: 320px;
    margin: auto;
}

.home-help-blocs{
    width: 200px;
}

.home-help-blocs p{
    font-size: 14px;
    padding: 40px 10px;
}

#nos-valeurs{
    width: 400px;
    height: auto;
}

#nos-valeurs img{
    display: flex;
    margin-left: auto;
    margin-right: -70px;
}

@media (max-width: 576px) {

    #nos-valeurs{
        width: 100%;
    }

    #nos-valeurs img{
        margin: 0 auto;
    }

    #home-image{
        width: 100%;
        margin: 0 auto;
    }

    .home-help-blocs{
        width: 100%;
    }

    .section-text-content{
        width: 100%;
    }
}

@media (min-width:576px) and (max-width: 992px) {
    .home-help-blocs{
        width: 48%;
    }

    .image-wrapper{
        width: 50%;
    }
}

/* ------- Nos livres -------- */

#searchInput{
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* ----------- Detail livre ---------- */

.short-line{
    width: 27px;
}

.profile-badge {
    display: inline-flex;
    align-items: center;
    height: 60px;
    padding: 5px;
    padding-right: 15px;
    border: none;
    border-radius: 30px;
    background-color: white;
}

.profile-badge:hover img{
    filter: grayscale(100%) sepia(100%) hue-rotate(90deg) saturate(5);
}

.profile-badge:hover span{
    color: var(--light-green-color);
}

/* ---------- Formulaire livre -------------- */

#cover-image{
    opacity: 0;
    width: 1px;
    height: 1px;
    pointer-events: none;
    position: absolute;
}


/* ------- Profil ------- */

.table-image-column {
    max-width: 100px;
}

.profil-book-list{
    padding: 0 50px;
}

.table-books-list-bg > div:nth-child(even) {
    background-color: var(--light-blue-color); /* Une couleur grise très légère */
}

.table-books-list-bg > div:last-child {
    border-bottom-left-radius: var(--bs-border-radius-xl);
    border-bottom-right-radius: var(--bs-border-radius-xl);
}

.profil-image{
    width: 100px;
    height: 100px;
}

@media (min-width:768px) and (max-width: 992px) {
    .profil-book-list{
        padding: 0 20px;
    }
}

/* ----------- Messagerie ----------- */

.message-content{
    width: fit-content;
    max-width: 70%;
}

.unread-count{
    background: var(--mid-green-color); /* Bleu type Messenger ou Rouge */
    color: white;
    font-size: 0.75rem;
    padding: 2px 4px;
    border-radius: 12px;
    font-weight: bold;
}

#conversation-content{
    max-height: calc(100vh - 140px);
    background-color: var(--main-bg-color);
}

#conversation-content .overflow-auto{
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

#conversation-content .overflow-auto::-webkit-scrollbar{
    display: none; /* Pour Chrome, Safari et Opera */
}

@media (max-width:992px) {
    #conversation-content{
        background-color: var(--second-bg-color);
        max-height: calc(100vh - 247px);
    }
}